@import "./header/header";
@import "./contents/contents";
@import "./common/__variables";
@import "./common/__common_class";
@import "./components/modals";

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 10px;
    font-family: $primary-font;
    scroll-behavior: smooth;
}

body {
    color: $primary-color;
}