.post-container {
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.0588235294);
  margin-bottom: 12px;
}

.pd-l-r-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  height: 40px;
  padding: 16px 0;
  background-color: #fff;
}

.header-container {
  color: #4d5d78;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-phase {
  flex-basis: 54%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-phase {
  flex: 1;
}
.header__logo-phase .logo-phase__image {
  display: block;
  width: 112px;
}

.header__search-phase {
  flex: 3;
  position: relative;
}
.header__search-phase .search-phase__search-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 1.8rem;
}
.header__search-phase .search-phase__search-bar {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  padding: 12px 16px;
  font-size: 1.4rem;
  outline: none;
  padding-left: 42px;
}

.header__user-phase {
  display: flex;
  align-items: center;
}
.header__user-phase .user-phase__avatar {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 16px;
}
.header__user-phase .user-phase__name {
  font-weight: 700;
  font-size: 1.6rem;
  color: #4d5d78;
}

.post-container {
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.0588235294);
  margin-bottom: 12px;
}

.pd-l-r-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.left-sidebar {
  position: fixed;
  top: 72px;
  left: 16px;
  bottom: 0;
  background-color: #fff;
  width: 13%;
  flex-basis: 13%;
  user-select: none;
  z-index: 100;
}

.navbar-items {
  padding: 16px;
  padding-left: 0;
  list-style: none;
  cursor: pointer;
}

.navbar__item:hover {
  background-color: #F9FAFB;
}

.navbar__item {
  font-size: 1.4rem;
  border-radius: 8px;
  color: #4d5d78;
  background-color: #fff;
  padding: 10px 16px;
}

.navbar__item.active {
  color: #fff;
  background-color: #4E5D78;
}

.item__content {
  display: flex;
  align-items: center;
}

.item__content__icon {
  display: block;
  width: 32px;
}

.right-sidebar {
  position: fixed;
  top: 72px;
  right: 16px;
  width: 20%;
  bottom: 0;
  flex-basis: 20%;
  overflow: auto;
}
.right-sidebar::-webkit-scrollbar {
  display: none;
}

.right-sidebar__search-phase {
  margin-bottom: 24px;
}

.search-friends {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid #e0e0e0;
  color: #757575;
  font-size: 1.4rem;
}

.right-sidebar__story-list {
  position: relative;
  overflow: auto;
}
.right-sidebar__story-list::-webkit-scrollbar {
  display: none;
}

.story-list__items {
  display: flex;
  gap: 20px;
}

.story-item {
  position: relative;
}

.story-item__avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-bottom: 12px;
}
.story-item__avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.story-item__avatar::after {
  content: "+";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  display: block;
  width: 10px;
  height: 10px;
  padding: 2px;
  text-align: center;
  line-height: 12px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 0 1px #e0e0e0;
}

.story-item__account-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: 1.2rem;
  color: #4d5d78;
}

.story-list__load-more {
  position: absolute;
  right: 0;
  top: 20%;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friends-container__title {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  color: #4d5d78;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.friends-action__btn {
  display: block;
  padding: 4px;
  cursor: pointer;
  font-size: 1.8rem;
}

.friends-container__friend-list {
  position: relative;
  font-size: 1.6rem;
  overflow: auto;
}

.friend-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-weight: 500;
}

.friend-list__item__info {
  display: flex;
  align-items: center;
}

.list-item__info__avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
  object-fit: cover;
}
.list-item__info__avatar > img {
  width: 100%;
  height: 100%;
}

.friend-list__item__active-status {
  font-size: 1.2rem;
  margin-right: 20px;
}

.online {
  color: #1da318;
}

.main-content {
  margin-left: 13%;
  flex-basis: 60%;
  padding: 32px;
  padding-bottom: 0;
  background-color: #F9FAFB;
  border-radius: 16px;
  display: flex;
  gap: 32px;
}
.main-content .feed-phase {
  flex: 2;
}

.feed-phase__new-post .new-post__box {
  display: flex;
  align-items: center;
  gap: 16px;
}
.feed-phase__new-post .new-post__box .new-post__box__avatar {
  width: 48px;
  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;
}
.feed-phase__new-post .new-post__box .new-post__box__status {
  width: 100%;
  background-color: #F9FAFB;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 1.4rem;
}
.feed-phase__new-post .new-post__list-button {
  margin-top: 16px;
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  justify-content: space-between;
}
.feed-phase__new-post .new-post__list-button .list-button__button:last-child {
  background-color: #377dff;
  color: #fff;
}
.feed-phase__new-post .new-post__list-button .list-button__button:last-child:hover {
  opacity: 0.8;
}
.feed-phase__new-post .list-button__button:hover {
  cursor: pointer;
  background-color: #F9FAFB;
}
.feed-phase__new-post .list-button__button {
  padding: 10px 24px;
  border-radius: 10px;
}
.feed-phase__new-post .list-button__button .button-icon {
  margin-right: 8px;
}

.feed-phase__recent-post .post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feed-phase__recent-post .post-header__info {
  display: flex;
  align-items: center;
}
.feed-phase__recent-post .post-header__info__avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}
.feed-phase__recent-post .post-comment__info__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}
.feed-phase__recent-post .post-header__info__author__name {
  font-size: 1.6rem;
  font-weight: 500;
  color: #4d5d78;
}
.feed-phase__recent-post .post-header__info__author__time {
  color: #AFB6C2;
  font-size: 1.2rem;
}
.feed-phase__recent-post .post-action {
  font-size: 1.6rem;
  color: #4d5d78;
}
.feed-phase__recent-post .post-content {
  font-size: 1.4rem;
  color: #4d5d78;
}
.feed-phase__recent-post .post-content__description {
  margin: 16px 0;
}
.feed-phase__recent-post .post-content__images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  gap: 2px;
  grid-template-areas: "img1 img1 img2 img2" "img1 img1 img3 img3" "img1 img1 img4 img4";
}
.feed-phase__recent-post .post-content__images__image {
  border-radius: 8px;
  overflow: hidden;
}
.feed-phase__recent-post .post-content__images__image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.feed-phase__recent-post .post-content__images__image:nth-child(1) {
  grid-area: img1;
}
.feed-phase__recent-post .post-content__images__image:nth-child(2) {
  grid-area: img2;
}
.feed-phase__recent-post .post-content__images__image:nth-child(3) {
  grid-area: img3;
}
.feed-phase__recent-post .post-content__images__image:nth-child(4) {
  grid-area: img4;
}
.feed-phase__recent-post .post-response {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: #AFB6C2;
}
.feed-phase__recent-post .post-response__list-seen {
  display: flex;
  flex: 1;
}
.feed-phase__recent-post .list-seen__avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.feed-phase__recent-post .list-seen__avatar img {
  object-fit: cover;
}
.feed-phase__recent-post .list-seen__avatar:not(:first-child) {
  margin-left: -6px;
  box-shadow: 0 0 0 1px #fff;
}
.feed-phase__recent-post .list-seen__avatar--over-seen {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #545a67;
  font-size: 0.8rem;
  text-align: center;
  padding: 2px;
  line-height: 20px;
}
.feed-phase__recent-post .post-response__analyst {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
.feed-phase__recent-post .post-actions {
  padding: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  color: #606977;
  border-top: 1px solid rgba(175, 182, 194, 0.8431372549);
  border-bottom: 1px solid rgba(175, 182, 194, 0.8431372549);
  user-select: none;
}
.feed-phase__recent-post .liked .fa-solid {
  animation: like 0.5s ease-in-out;
  color: #e92a27;
}
@keyframes like {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}
.feed-phase__recent-post .post-actions__btn {
  padding: 8px 28px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.feed-phase__recent-post .post-actions__btn:hover {
  background-color: #f3f5f6;
}
.feed-phase__recent-post .post-actions__btn__icon {
  font-size: 1.8rem;
  margin-right: 8px;
}
.feed-phase__recent-post .post-comments__shows {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feed-phase__recent-post .post-comments__shows__title {
  display: block;
  padding: 6px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #606977;
  cursor: pointer;
}
.feed-phase__recent-post .post-comments__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin: 8px 0;
}
.feed-phase__recent-post .post-comments__comment-container {
  display: inline-block;
}
.feed-phase__recent-post .post-comments__comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: #f8fafd;
}
.feed-phase__recent-post .comment-header {
  display: flex;
  align-items: flex-start;
}
.feed-phase__recent-post .post-comment__info__avatar {
  flex-shrink: 0;
  box-shadow: 0 0 0 2px #fff;
  margin-top: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}
.feed-phase__recent-post .post-comment__content {
  display: flex;
  flex-direction: column;
}
.feed-phase__recent-post .comment-action {
  margin-left: 12px;
  padding: 4px;
  margin-right: -4px;
}
.feed-phase__recent-post .post-comment__content__author {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #4d5d78;
}
.feed-phase__recent-post .post-comment__content__author__time {
  color: #AFB6C2;
  font-size: 1.2rem;
}
.feed-phase__recent-post .post-comment__content__description {
  font-size: 1.3rem;
  color: #606977;
  text-align: justify;
}
.feed-phase__recent-post .post-comment__write-comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 8px;
}
.feed-phase__recent-post .write-comment__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.feed-phase__recent-post .write-comment__type {
  flex: 1;
  font-size: 1.6rem;
  color: #606977;
  position: relative;
}
.feed-phase__recent-post .write-comment__type__media {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  cursor: pointer;
}
.feed-phase__recent-post .write-comment__type__input {
  box-sizing: border-box;
  padding: 8px 16px;
  padding-right: 100px;
  width: 100%;
  background-color: #f8fafd;
  border-radius: 16px;
  border: none;
}
.feed-phase__recent-post .write-comment__sent-btn {
  padding: 4px 10px;
  border-radius: 50%;
  font-size: 2rem;
  color: #2880de;
  cursor: pointer;
}
.feed-phase__recent-post .write-comment__sent-btn:hover {
  background-color: #F9FAFB;
}

.event-phase {
  flex: 1;
}

.event-phase__first {
  background-color: #fff;
  width: 236px;
  height: 220px;
  border-radius: 13px;
}

.event-phase__first__head {
  height: 44px;
  width: 236px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.event-phase__first__head > h2 {
  font-weight: 600;
  color: #6198FF;
  padding-right: 20px;
}

.event-phase__first__head > h2:hover {
  opacity: 0.8;
  cursor: pointer;
}

.event-phase__first__head > h3 {
  font-weight: 500;
  color: #333;
  padding-left: 20px;
}

.event-phase__first__content {
  margin: 20px 20px 0 20px;
  display: flex;
}

.event-phase__first__content img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.event-phase__first__content img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.event-phase__first__name {
  padding-left: 20px;
  height: 50px;
  width: 140px;
  padding-top: 8px;
}

.event-phase__first__name > h1 {
  font-weight: 600;
  font-size: 14px;
}

.event-phase__first__name > h1:hover {
  opacity: 0.7;
  cursor: pointer;
}

.event-phase__first__social {
  display: flex;
  height: 20px;
  justify-content: space-evenly;
  margin-left: 66px;
  font-size: 15px;
}

.event-phase__first__social i:hover {
  cursor: pointer;
  opacity: 0.8;
}

.event-phase__first__choice {
  display: flex;
  justify-content: space-between;
}

.event-phase__first__fl {
  height: 26px;
  width: 80px;
  border: 1px solid #ccc;
  border-radius: 13px;
  text-align: center;
  padding-top: 8px;
  background-color: #377DFF;
  color: white;
  font-size: 13px;
  margin: 24px 0px 18px 18px;
}

.event-phase__first__ex {
  margin: 24px 18px 18px 0px;
  height: 26px;
  width: 80px;
  border: 1px solid #ccc;
  border-radius: 13px;
  text-align: center;
  padding-top: 8px;
  font-size: 13px;
}

.event-phase__first__ex:hover {
  cursor: pointer;
  background-color: #ccc;
}

.event-phase__first__fl:hover {
  cursor: pointer;
  opacity: 0.8;
}

.event-phase__second {
  margin-top: 30px;
  background-color: white;
  height: 348px;
  border-radius: 13px;
}

.event-phase__second__head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  height: 44px;
  align-items: center;
  padding: 0 20px 0 20px;
}

.event-phase__second__head > h1 {
  font-weight: 600;
  color: #333;
  font-size: 12px;
}

.event-phase__second__head > i {
  font-size: 14px;
}

.event-phase__second__head > i:hover {
  opacity: 0.8;
  cursor: pointer;
}

.event-phase__second__content1 {
  width: 238px;
  height: 124px;
  background-color: #F6F7F8;
  margin: 20px 18px 20px 18px;
  border-radius: 13px;
}

.event-phase__second__content1 img {
  width: 40px;
  height: 40px;
}

.event-phase__second__contentname1 {
  height: 44px;
  padding-top: 18px;
  width: 140px;
  padding-left: 10px;
  display: flex;
}

.event-phase__name1 {
  width: 150px;
  height: 40px;
  padding-left: 28px;
}

.event-phase__name1 > h1 {
  font-weight: 600;
  font-size: 12px;
}

.event-phase__second__content1__view {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}

.event-phase__second__content1__view > h1 {
  padding-left: 10px;
}

.event-phase__view {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: #AFB6C2;
  padding-right: 30px;
}

.event-phase__list-seen1 {
  display: flex;
  flex: 1;
}

.event__list-seen__avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.event__list-seen__avatar img {
  object-fit: cover;
}

.event__list-seen__avatar:not(:first-child) {
  margin-left: -6px;
  box-shadow: 0 0 0 1px #fff;
}

.event__list-seen__avatar--over-seen {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #545a67;
  font-size: 0.8rem;
  text-align: center;
  padding: 2px;
  line-height: 20px;
}

#content {
  margin-top: 72px;
  bottom: 0;
  left: 0;
  right: 0;
}

.content-container {
  display: flex;
}

.post-container {
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.0588235294);
  margin-bottom: 12px;
}

.pd-l-r-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.post-container {
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.0588235294);
  margin-bottom: 12px;
}

.pd-l-r-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.comment-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5019607843);
  z-index: 200;
  display: none;
}

.comment-modal__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  height: 600px;
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
  animation: slideBottomToCenter 0.5s ease-in-out;
}
@keyframes slideBottomToCenter {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
.comment-modal__container .comment-modal__header {
  position: relative;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
}
.comment-modal__container .comment-modal__header .comment-modal__header__title {
  font-size: 2rem;
  color: #4d5d78;
  font-weight: 500;
  text-align: center;
}
.comment-modal__container .comment-modal__header .comment-modal__header__close-btn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 8px;
  font-size: 2.2rem;
  color: #4d5d78;
  cursor: pointer;
}
.comment-modal__container .comment-modal__header .comment-modal__header__close-btn:hover {
  opacity: 0.6;
}
.comment-modal__container .post-comments__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-top: 8px;
  overflow-y: auto;
}
.comment-modal__container .post-comments__comment-container {
  display: inline-block;
}
.comment-modal__container .post-comments__comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: #f8fafd;
}
.comment-modal__container .comment-header {
  display: flex;
  align-items: flex-start;
}
.comment-modal__container .post-comment__info__avatar {
  flex-shrink: 0;
  box-shadow: 0 0 0 2px #fff;
  margin-top: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}
.comment-modal__container .post-comment__content {
  display: flex;
  flex-direction: column;
}
.comment-modal__container .comment-action {
  margin-left: 12px;
  padding: 4px;
  margin-right: -4px;
}
.comment-modal__container .post-comment__content__author {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #4d5d78;
}
.comment-modal__container .post-comment__content__author__time {
  color: #AFB6C2;
  font-size: 1.2rem;
}
.comment-modal__container .post-comment__content__description {
  font-size: 1.3rem;
  color: #606977;
  text-align: justify;
}
.comment-modal__container .post-comment__write-comment {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 8px;
  padding-top: 16px;
}
.comment-modal__container .write-comment__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.comment-modal__container .write-comment__type {
  flex: 1;
  font-size: 1.6rem;
  color: #606977;
  position: relative;
}
.comment-modal__container .write-comment__type__media {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  cursor: pointer;
}
.comment-modal__container .write-comment__type__input {
  box-sizing: border-box;
  padding: 8px 16px;
  padding-right: 100px;
  width: 100%;
  background-color: #f8fafd;
  border-radius: 16px;
  border: none;
}
.comment-modal__container .write-comment__sent-btn {
  padding: 4px 10px;
  border-radius: 50%;
  font-size: 2rem;
  color: #2880de;
  cursor: pointer;
}
.comment-modal__container .write-comment__sent-btn:hover {
  background-color: #F9FAFB;
}

.show-comment-modal {
  display: block;
}

.hide-comment-modal {
  animation: identifier 0.5s ease-in-out;
}
@keyframes identifier {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.post-container {
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.0588235294);
  margin-bottom: 12px;
}

.pd-l-r-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #4d5d78;
}

/*# sourceMappingURL=style.css.map */
