@import "../common/__variables";
@import "../common/__common_class";
@import "../common/_mixins";

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    padding: 16px 0;
    background-color: #fff;

    .mobile-header {
        display: none;
    }

    @include devicesResponsive(768px) {
        .desktop-header {
            display: none;
        }

        .mobile-header {
            display: flex;
        }
    }

}


.header-container {
    color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.first-phase {
    @include devicesResponsive(1024px) {
        flex-basis: 80%;
    }

    flex-basis: 54%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__logo-phase {
    flex: 1;

    .logo-phase__image {
        display: block;
        width: 112px;
    }
}

.header__search-phase {

    flex: 3;
    position: relative;

    .search-phase__search-icon {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        font-size: 1.8rem;

    }

    .search-phase__search-bar {
        width: 100%;
        border: 1px solid #e0e0e0;
        border-radius: 16px;
        padding: 12px 16px;
        font-size: 1.4rem;
        outline: none;
        padding-left: 42px;
    }
}

.header__user-phase {
    display: flex;
    align-items: center;

    .user-phase__avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 16px;
    }

    .user-phase__name {
        @include devicesResponsive(768px) {
            display: none;
        }

        font-weight: 700;
        font-size: 1.6rem;
        color: $primary-color;

    }
}

.message-phase {
    color: $primary-color;
    font-size: 2.4rem;
    padding: 0 16px;

}