.main-content {
    margin-left: 13%;
    flex-basis: 60%;
    padding: 32px;
    padding-bottom: 0;
    background-color: #F9FAFB;
    border-radius: 16px;
    display: flex;
    gap: 32px;

    .feed-phase {
        flex: 2;

    }
}

.feed-phase__new-post {

    .new-post__box {
        display: flex;
        align-items: center;
        gap: 16px;

        .new-post__box__avatar {
            width: 48px;
            border-radius: 50%;
            object-fit: contain;
            overflow: hidden;
        }

        .new-post__box__status {
            width: 100%;
            background-color: #F9FAFB;
            padding: 12px;
            border-radius: 10px;
            border: none;
            font-size: 1.4rem;
        }
    }

    .new-post__list-button {
        margin-top: 16px;
        display: flex;
        font-size: 1.4rem;
        align-items: center;
        justify-content: space-between;

        .list-button__button:last-child {
            background-color: #377dff;
            color: #fff;
        }


        .list-button__button:last-child:hover {
            opacity: 0.8;
        }
    }

    .list-button__button:hover {
        cursor: pointer;
        background-color: #F9FAFB;
    }

    .list-button__button {
        padding: 10px 24px;
        border-radius: 10px;

        .button-icon {
            margin-right: 8px;
        }

    }
}

.feed-phase__recent-post {

    .post-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .post-header__info {
        display: flex;
        align-items: center;
    }

    .post-header__info__avatar {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 16px;
    }

    .post-comment__info__avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 8px;
    }

    .post-header__info__author__name {
        font-size: 1.6rem;
        font-weight: 500;
        color: $primary-color;
    }

    .post-header__info__author__time {
        color: #AFB6C2;
        font-size: 1.2rem;
    }


    .post-action {
        font-size: 1.6rem;
        color: $primary-color;
    }

    .post-content {
        font-size: 1.4rem;
        color: $primary-color;

    }

    .post-content__description {
        margin: 16px 0;
    }

    .post-content__images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px 200px 200px;
        gap: 2px;
        grid-template-areas:
            "img1 img1 img2 img2"
            "img1 img1 img3 img3"
            "img1 img1 img4 img4";
    }

    .post-content__images__image {
        border-radius: 8px;
        overflow: hidden;

    }

    .post-content__images__image img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    .post-content__images__image:nth-child(1) {
        grid-area: img1;
    }

    .post-content__images__image:nth-child(2) {
        grid-area: img2;
    }

    .post-content__images__image:nth-child(3) {
        grid-area: img3;
    }

    .post-content__images__image:nth-child(4) {
        grid-area: img4;
    }

    .post-response {
        margin-top: 16px;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        color: #AFB6C2;
    }

    .post-response__list-seen {
        display: flex;
        flex: 1;

    }

    .list-seen__avatar {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        overflow: hidden;

        img {
            object-fit: cover;
        }
    }

    .list-seen__avatar:not(:first-child) {
        margin-left: -6px;
        box-shadow: 0 0 0 1px #fff;
    }

    .list-seen__avatar--over-seen {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #545a67;
        font-size: 0.8rem;
        text-align: center;
        padding: 2px;
        line-height: 20px;
    }

    .post-response__analyst {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 16px;
    }

    .post-actions {
        padding: 4px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.6rem;
        color: #606977;
        border-top: 1px solid #afb6c2d7;
        border-bottom: 1px solid #afb6c2d7;
        user-select: none;

    }

    .liked .fa-solid {
        animation: like 0.5s ease-in-out;

        @keyframes like {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.6);
            }

            100% {
                transform: scale(1);
            }
        }

        color: #e92a27;
    }

    .post-actions__btn {
        padding: 8px 28px;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;

    }

    .post-actions__btn:hover {
        background-color: #f3f5f6;
    }

    .post-actions__btn__icon {
        font-size: 1.8rem;
        margin-right: 8px;
    }

    .post-comments__shows {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .post-comments__shows__title {
        display: block;
        padding: 6px;
        font-size: 1.3rem;
        font-weight: 500;
        color: #606977;
        cursor: pointer;
    }

    .post-comments__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        margin: 8px 0;
    }

    .post-comments__comment-container {
        display: inline-block;
    }

    .post-comments__comment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
        padding: 8px 12px;
        background-color: #f8fafd;
    }

    .comment-header {
        display: flex;
        align-items: flex-start;

    }

    .post-comment__info__avatar {
        flex-shrink: 0;
        box-shadow: 0 0 0 2px #fff;
        margin-top: 4px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 12px;

    }

    .post-comment__content {
        display: flex;
        flex-direction: column;

    }

    .comment-action {
        margin-left: 12px;
        padding: 4px;
        margin-right: -4px;
    }

    .post-comment__content__author {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 1.4rem;
        font-weight: 500;
        color: $primary-color;

    }

    .post-comment__content__author__time {
        color: #AFB6C2;
        font-size: 1.2rem;
    }

    .post-comment__content__description {
        font-size: 1.3rem;
        color: #606977;
        text-align: justify;
    }

    .post-comment__write-comment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        border-radius: 8px;

    }

    .write-comment__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }

    .write-comment__type {
        flex: 1;
        font-size: 1.6rem;
        color: #606977;
        position: relative;
    }

    .write-comment__type__media {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
        padding: 0 8px;
        cursor: pointer;
    }

    .write-comment__type__input {
        box-sizing: border-box;
        padding: 8px 16px;
        padding-right: 100px;
        width: 100%;
        background-color: #f8fafd;
        border-radius: 16px;
        border: none;
    }

    .write-comment__sent-btn {
        padding: 4px 10px;
        border-radius: 50%;
        font-size: 2rem;
        color: #2880de;
        cursor: pointer;
    }

    .write-comment__sent-btn:hover {
        background-color: #F9FAFB;
    }

}


.event-phase {
    flex: 1;
}

.event-phase__first{
    background-color: #fff;
    width: 236px;
    height: 220px;
    border-radius: 13px;
}

.event-phase__first__head{
    height: 44px;
    width: 236px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.event-phase__first__head >h2{
    font-weight: 600;
    color: #6198FF;
    padding-right: 20px;
}

.event-phase__first__head >h2:hover{
    opacity: 0.8;
    cursor: pointer;
}

.event-phase__first__head >h3{
    font-weight: 500;
    color: #333;
    padding-left: 20px;
}

.event-phase__first__content{
    margin: 20px 20px 0 20px;
    display: flex;
}

.event-phase__first__content img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    // margin: 20px;
}

.event-phase__first__content img:hover{
    opacity: 0.8;
    cursor: pointer;
}

.event-phase__first__name{
    padding-left: 20px;
    height: 50px;
    width: 140px;
    padding-top: 8px;
}

.event-phase__first__name >h1{
    font-weight: 600;
    font-size: 14px;
}

.event-phase__first__name >h1:hover{
    opacity: 0.7;
    cursor: pointer;
}

.event-phase__first__social{
    display: flex;
    height: 20px;
    justify-content: space-evenly;
    margin-left: 66px;
    font-size: 15px;
}

.event-phase__first__social i:hover{
    cursor: pointer;
    opacity: 0.8;
}

.event-phase__first__choice{
    display: flex;
    justify-content: space-between;
}

.event-phase__first__fl{
    height: 26px;
    width:80px;
    border: 1px solid #ccc;
    border-radius: 13px;
    text-align: center;
    padding-top: 8px;
    background-color: #377DFF;
    color: white;
    font-size: 13px;
    margin: 24px 0px 18px 18px;
}

.event-phase__first__ex{
    margin: 24px 18px 18px 0px;
    height: 26px;
    width:80px;
    border: 1px solid #ccc;
    border-radius: 13px;
    text-align: center;
    padding-top: 8px;
    font-size: 13px;
}

.event-phase__first__ex:hover{
    cursor: pointer;
    background-color: #ccc;
}

.event-phase__first__fl:hover{
    cursor: pointer;
    opacity: 0.8;
}

.event-phase__second{
    margin-top: 30px;
    background-color: white;
    height: 348px;
    border-radius: 13px;
}

.event-phase__second__head{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    height: 44px;
    align-items: center;
    padding: 0 20px 0 20px;
}

.event-phase__second__head >h1{
    font-weight: 600;
    color: #333;
    font-size: 12px;
}

.event-phase__second__head >i{
    font-size: 14px;
}
.event-phase__second__head >i:hover{
    opacity: 0.8;
    cursor: pointer;
}

.event-phase__second__content1{
    width: 238px;
    height: 124px;
    background-color: #F6F7F8;
    margin: 20px 18px 20px 18px;
    border-radius: 13px;
    // display: flex;
}

.event-phase__second__content1 img{
    width: 40px;
    height: 40px;
    // padding: 18px 0 0 10px;
}

.event-phase__second__contentname1{
    height: 44px;
    padding-top: 18px;
    width: 140px;
    padding-left: 10px;
    display: flex;
}

.event-phase__name1{
    width: 150px;
    height: 40px;
    padding-left: 28px;
}

.event-phase__name1>h1{
    font-weight: 600;
    font-size: 12px;
}

.event-phase__second__content1__view{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.event-phase__second__content1__view>h1 {
    padding-left: 10px;
}

.event-phase__view{
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: #AFB6C2;
    padding-right: 30px;
}

.event-phase__list-seen1{
    display: flex;
    flex: 1;
}

.event__list-seen__avatar{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
        img {
            object-fit: cover;
        }
}

.event__list-seen__avatar:not(:first-child) {
    margin-left: -6px;
    box-shadow: 0 0 0 1px #fff;
}

.event__list-seen__avatar--over-seen {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #545a67;
    font-size: 0.8rem;
    text-align: center;
    padding: 2px;
    line-height: 20px;
}




