.post-container {
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 0 16px #0000000f;
    margin-bottom: 12px;
}

.pd-l-r-16 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}